  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body,
html{
  font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
}

.title {
    color:#1f1f1f;
    font-size:60px;
    font-family: 'Montserrat', sans-serif;
    line-height: 0.9em;  
}

.sub-title {
    color: #242424;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color:#505050;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}

.links {
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: #fffefb
}
body {
    background-color:#ebebeb
}

/* background-color:#87b3b0 */ 
