  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body,
html{
  font-family: 'Montserrat', sans-serif;
  margin: 5%;
}

.title {
    color:#e2e5e7;
    font-size:60px;
    font-family: 'Montserrat', sans-serif;
    line-height: 0.9em;  
}

.sub-title {
    color: #e6e6e6;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color:#505050;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
}

.links {
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: #fffefb
}
body {
    background-color:#87b3b0
}