@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.title {
    color:#fffefb;
    font-size:72px;
    font-family: 'Montserrat', sans-serif;
    line-height: 0.9em;  
}

.sub-title {
    color: #0b504b;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color:#0b504b;
    font-family: 'Montserrat', sans-serif;
}

.links {
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: #fffefb
}

body {
    background-color:#60d4c1
}