


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');


body,
html{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

nav {
  height: 60px;
}

ul.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  list-style: none;
  text-transform: uppercase;
  background: rgb(12, 114, 114);
  margin: 0;
  line-height: 60px;
}

ul.list {

  list-style: none;
  text-align: left;
  color:  rgb(12, 114, 114);
  width:44%;
  
  height:20vh;
  padding:15px;
  margin-left:35%;
}


}
h1 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

.container a {
  text-decoration: none;
  color: #292929;
}
/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}