@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

div {
  height: 200px;
  width: 25%;
  background-color:rgb(212, 76, 49);
}

.title {
    color:rgb(255, 255, 255);
    font-size:72px;
    line-height: 0.9em;
    
}

.subtitle {
    color:rgb(121, 69, 57)
}
.content {
    line-height: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: white
}

body {
    background-color:rgb(250, 162, 144);

}

.footer {
    color:rgb(173, 72, 49)
}